/* Resetando as margens e o padding para um estilo limpo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F4E1C1; /* Fundo suave, cor areia */
    color: #333; /* Texto mais escuro para contraste */
    line-height: 1.6;
}

/* Estilo do cabeçalho */
header {
    background-color: #f566b9; /* Verde para o cabeçalho */
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Estilo dos títulos */
h2 {
    font-size: 2rem;
    color: #c64cdf;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilo para cada seção */
.secao {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.secao img {
    width: 100%; /* Imagem ocupa toda a largura da seção */
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #6753da;
    color: white;
    margin-top: 40px;
}